.formula {
    width: 100%;
    font-size: larger;
    position: sticky;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.formula:focus {
    background-color: crimson;
}

.form {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 25% 100px auto;
}

.formLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.formSubmit {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}